// 注意点：css-module 的类名不能使用短横线，需要使用下划线_

.login_form {
  max-width: 300px;
  padding: 40px;
  border: 1px solid #ccc;
  background: rgba(126, 123, 123, 0.3);
  position: fixed;
  top: 30%;
  left: 40%;
}
.login_form_forgot {
  float: right;
} 
.login_form_button {
  width: 100%;
}
