.ant_input {
  width: 200px;
  margin: 0 8px 8px 0;
}
.person {
  h1 {
    margin-bottom: 20px;
  }
  p {
    padding: 15px;
  }
}
.person_sex {
  margin-left: 14px;
}
.person_avatar {
  margin-left: 10px;
}
.person_span {
  display: block;
}
.person_button {
  margin-left: 80px;
}
.person_btn {
  margin-top: 40px;
  margin-left: 15px;
}
