// 注意点：css-module 的类名不能使用短横线，需要使用下划线_

.registry_form {
  max-width: 400px;
  padding: 40px;
  border: 1px solid #ccc;
  background: rgba(126, 123, 123, 0.3);
  position: fixed;
  top: 25%;
  left: 40%;
}
.registry_form_forgot {
  float: right;
}
.registry_form_button {
  width: 100%;
}
