.user_name_content,
.comment_content {
  width: 700px;
  margin: 20px 0;
}
.user_name_title,
.comment_content_title {
  margin-bottom: 5px;
  font-size: 20px;
  color: #000000;
}
.user_name_input {
  width: 700px;
  height: 40px;
  line-height: 40px;
  padding: 0 6px;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  border: none;
  border: 1px solid #cccccc;
}
.comment_content_input {
  width: 700px;
  height: 240px;
  padding: 4px;
  box-sizing: border-box;
  border-radius: 4px;
  color: rebeccapurple;
  outline: none;
}
.submit_btn {
  width: 70px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  color: black;
  border: 1px solid #cccccc;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 0 20px 630px;
}
