.comment_list_title {
  width: 100%;
  font-size: 30px;
  height: 59px;
  border-bottom: 1px solid #cccccc;
}
.comment_list_content {
  width: 100%;
  min-height: 20px;
  max-height: 419px;
  overflow-y: auto;
  padding: 10px 0;
  box-sizing: border-box;
}
.no_comment_list {
  color: #ff4a16;
}
.comment_list {
  width: 100%;
}
